services:

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.prod
    image: fernetloshorneros_backend:latest
    container_name: backend_fernet_prod
    restart: unless-stopped
    environment:
      NODE_ENV: production
      PORT: 3001
      PUBLIC_BASE_URL: ${PUBLIC_BASE_URL}
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
      ADMIN_JWT_SECRET: ${ADMIN_JWT_SECRET}
      MP_ACCESS_TOKEN: ${MP_ACCESS_TOKEN}
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      MYSQL_HOST: ${MYSQL_HOST}
      MYSQL_PORT: ${MYSQL_PORT}
      MYSQL_USER: ${MYSQL_USER}
      SMTP_HOST: ${SMTP_HOST}
      SMTP_PORT: ${SMTP_PORT}
      MAIL_USER: ${MAIL_USER}
      ADMIN_USER: ${ADMIN_USER}
      ADMIN_PASSWORD: ${ADMIN_PASSWORD}
      MAIL_PASSWORD: ${MAIL_PASSWORD}
    volumes:
      - uploads_data:/app/uploads
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - app_network

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.prod
    image: fernetloshorneros_frontend:latest
    container_name: frontend_prod
    restart: unless-stopped
    environment:
      NODE_ENV: production
      NEXT_PUBLIC_API_URL: /api
      NEXT_INTERNAL_API_URL: http://backend:3001
      INTERNAL_API_KEY: ${INTERNAL_API_KEY}
    networks:
      - app_network

  mysql:
    image: mysql:8.0
    container_name: db_fernetloshorneros
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${MYSQL_ROOT_PASSWORD}
      MYSQL_DATABASE: ${MYSQL_DATABASE}
      #MYSQL_PASSWORD: ${MYSQL_PASSWORD}
      #MYSQL_USER: ${MYSQL_USER}
    volumes:
      - mysql_data:/var/lib/mysql
      - ./db/sql/01-init.sql:/docker-entrypoint-initdb.d/01-init.sql:ro
    networks:
      - app_network
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${MYSQL_ROOT_PASSWORD}"]
      interval: 10s
      timeout: 5s
      retries: 5
      start_period: 10s

  nginx:
    image: nginx:alpine
    container_name: nginx_prod
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf:ro
      - uploads_data:/var/www/uploads:ro
      - ./ssl:/etc/nginx/ssl:ro
    depends_on:
      - frontend
      - backend
    networks:
      - app_network

volumes:
  mysql_data:
    driver: local
  uploads_data:
    driver: local

networks:
  app_network:
    driver: bridge
